* {
    background-color: rgb(255, 247, 235);
    box-sizing: border-box;
}

h1, .caption{
    font-family: papyrus, Arial, Helvetica, sans-serif;
}

.header {
    border: rgb(136, 199, 250), 2px, solid;
    background-color: ghostwhite;
    color:rgb(136, 199, 250);
    padding: 5px;
    width: 300px;
    height: 65px;
    margin: auto;
}

.main{
    margin-bottom: 100px;
}

.home-link {
    background-color: inherit;
    text-decoration: none;
    color: inherit;
}

.center, .container, h1{
    text-align: center;
}

.one, img{
    display: inline-block;
}

img {
    width: 410px;
    height: 310px;
    text-align: center;
    margin: auto;
    border: 5px ridge ghostwhite;
    background-color: ghostwhite;
}

.recipe {
    margin: 40px;
    margin-bottom: 10px;
}

.recipe:hover{
  opacity: 0.5;
}

.caption {
    font-size: 25px;
    text-decoration: none;
}
