* {
    background-color: rgb(255, 247, 235);
    box-sizing: border-box;
}

h1{
    font-family: papyrus, Arial, Helvetica, sans-serif;
    text-align: center;
}

.main-header {
    border: rgb(136, 199, 250), 2px, solid;
    background-color: ghostwhite;
    color:rgb(136, 199, 250);
    padding: 5px;
    width: 300px;
    height: 65px;
    margin: auto;
    margin-bottom: 100px;
}

.home-link {
    background-color: inherit;
    text-decoration: none;
    color: inherit;
}
.img-container{
    text-align: center;
}

img {
    width: 410px;
    height: 310px;
    display: inline-block;
    text-align: center;
    margin: auto;
    border: 5px ridge ghostwhite;
    background-color: ghostwhite;
}

.recipe {
    margin: 15px;
}

.recipe:hover{
  opacity: 0.5;
}
